<mat-stepper style="min-height: 100vh;">
    <!-- Check Order Form -->
    <mat-step>
        <ng-template matStepLabel>Check Order</ng-template>
        <div *ngIf="!cartItems.length">
            <mat-card-content>Shopping cart is empty!</mat-card-content>
        </div>
        <div *ngIf="cartItems.length">
            <table>
                <thead>
                    <tr>
                        <td></td>
                        <td>Drink</td>
                        <td>Qty</td>
                        <td>Price</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of cartItems">
                        <td><img [src]="item.drink.strDrinkThumb" style="width:64px;height:64px;"></td>
                        <td><p style="font-weight: bold;">{{item.drink.strDrink}}</p></td>
                        <td><p>{{item.quantity}}</p></td>
                        <td><p>{{item.quantity * item.drink.price | currency}}</p></td>
                        <td>
                            <button mat-icon-button color="basic" (click)="removeFromCartItems(item)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button mat-flat-button (click)="pay()">Make Payment</button>
        </div>
    </mat-step>

    <!-- Submit Payment Form -->
    <mat-step>
        <ng-template matStepLabel>Payment</ng-template>
    </mat-step>

    <!-- Enjoy Page, Link to homepage -->
    <mat-step>
        <ng-template matStepLabel>Enjoy!</ng-template>
    </mat-step>
</mat-stepper>
