<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<script src="https://accounts.google.com/gsi/client" async defer></script>
<meta name="theme-color" content="#712cf9">

<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" >
            <mat-icon>menu</mat-icon>
        </button>
        <a routerLink="/"> <h1 style="margin: auto;">{{title}}</h1> </a>
        <span class="example-spacer"></span>
        <div>
            <p *ngIf="isAuthenticated" style="margin: auto; font-weight: lighter; font-size: small;">Logged in as: {{currentUser.email}}</p>
        </div>
        <button mat-icon-button matTooltip="login" routerLink="login" *ngIf="!isAuthenticated">
            <mat-icon>login</mat-icon>
        </button>
        <button mat-icon-button matTooltip="logout" *ngIf="isAuthenticated" (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
        <button mat-icon-button (click)="openPopUpCart()" matTooltip="cart">
            <mat-icon matBadge={{shoppingCart.length}} [matBadgeHidden]="isHidden" matBadgeColor="accent">shopping_cart</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" style="min-width: 20%;">
        <mat-nav-list>
            <a mat-list-item (click)="sidenav.toggle()" routerLink="/">Home</a>
            <a mat-list-item (click)="sidenav.toggle()" routerLink="/menu">Menu</a>
            <a mat-list-item (click)="sidenav.toggle()" 
                routerLink="/profile" *ngIf="isAuthenticated">Profile</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>