.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacer {
    flex: auto 1 1;
  }

td {
    padding-left: 20px;
}

thead > tr > td {
    font-weight: bold;
}

.button-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
}