<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
    <table>
        <div *ngIf="!shoppingCart.length">
            <mat-card-content>Shopping cart is empty!</mat-card-content>
        </div>
        <tr *ngFor="let item of cartItems">
            <td><img [src]="item.drink.strDrinkThumb" style="width:128px;height:128px;"></td>
            <td><p style="font-weight: bold;">{{item.drink.strDrink}}</p></td>
            <td><p>{{item.quantity}}</p></td>
            <td><p>Price: TBD</p></td>
        </tr>
    </table>
    <div mat-dialog-actions>
        <button mat-dialog-close mat-raised-button color="warn">Back</button>
        <button mat-dialog-close mat-raised-button color="primary" routerLink="/checkout">Send to Bar</button>
    </div>
</div>
