<body>
    <main>
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://cdn.concreteplayground.com/content/uploads/2022/08/The-Oxford-Tavern-supplied-credit-Kitti-Gould-4.jpg"
                        alt="" class="bd-placeholder-img" width="100%" height="100%" aria-hidden="true"
                        preserveAspectRatio="xMidYMid slice" focusable="false" style="object-fit: cover; opacity: 0.9;">
                    <div class="container">
                        <div class="carousel-caption text-start" *ngIf="!isAuthenticated">
                            <h1>The only Drink Factory.</h1>
                            <p>Login to start adding to your collection!</p>
                        </div>
                        <div class="carousel-caption text-start" *ngIf="isAuthenticated">
                            <h1>The only Drink Factory.</h1>
                            <p>You can browse our drinks from via the Menu</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="display: flex; flex-direction: row; align-items: top; justify-content: center;">
            <mat-card class="card-container" fxLayout="column" fxLayoutAlign="start center">
              <img mat-card-image src="https://www.thecocktaildb.com/images/media/drink/5noda61589575158.jpg/preview" alt="Drink Image" routerLink="/drink/11007" style="cursor: pointer;">
              <mat-card-content>
                <h2 class="card-title">Margarita</h2>
                <p class="card-text">The margarita is a cocktail consisting of tequila, orange liqueur, and lime juice often served
                    with salt on the rim of the
                    glass. The drink is served shaken with ice, blended with ice, or without ice.</p>
                </mat-card-content>
                <mat-card-actions align="end" style="margin-top: auto;">
                    <button mat-raised-button color="primary" routerLink="/drink/11007">Find Out More</button>
              </mat-card-actions>
            </mat-card>

            <mat-card class="card-container" fxLayout="column" fxLayoutAlign="start center">
                <img mat-card-image src="https://www.thecocktaildb.com/images/media/drink/2dwae41504885321.jpg/preview" alt="Drink Image" routerLink="/drink/15224" style="cursor: pointer;">
                <mat-card-content>
                  <h2 class="card-title">Malibu Twister</h2>
                  <p class="card-text">This cranberry juice-based solid cocktail is made with 2 other ingredients: malibu coconut rum,
                    tropicana orange juice.</p>
                </mat-card-content>
                <mat-card-actions align="end" style="margin-top: auto;">
                    <button mat-raised-button color="primary" routerLink="/drink/15224">Find Out More</button>
                </mat-card-actions>
              </mat-card>

              <mat-card class="card-container" fxLayout="column" fxLayoutAlign="start center">
                <img mat-card-image src="https://www.thecocktaildb.com/images/media/drink/tpxurs1454513016.jpg/preview" alt="Drink Image" routerLink="/drink/16333" style="cursor: pointer;">
                <mat-card-content>
                  <h2 class="card-title">Adam Bomb</h2>
                  <p class="card-text">This is a fruit based mixture that has Rum, Vodka and Tequila.</p>
                </mat-card-content>
                <mat-card-actions align="end" style="margin-top: auto;">
                    <button mat-raised-button color="primary" routerLink="/drink/16333">Find Out More</button>
                </mat-card-actions>
              </mat-card>
          </div>
    </main>
</body>