<body>
    <main>
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://cdn.concreteplayground.com/content/uploads/2022/08/The-Oxford-Tavern-supplied-credit-Kitti-Gould-4.jpg"
                        alt="" class="bd-placeholder-img" width="100%" height="100%" aria-hidden="true"
                        preserveAspectRatio="xMidYMid slice" focusable="false" style="object-fit: cover; opacity: 0.9;">
                    <div class="container">
                        <div class="carousel-caption text-start" *ngIf="!isAuthenticated">
                            <h1>The only Drink Factory.</h1>
                            <p>Login to start adding to your collection!</p>
                        </div>
                        <div class="carousel-caption text-start" *ngIf="isAuthenticated">
                            <h1>The only Drink Factory.</h1>
                            <p>You can browse our drinks from via the Menu</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container marketing">
            <div class="row">
                <div class="col-lg-4">
                    <img src="https://www.thecocktaildb.com/images/media/drink/5noda61589575158.jpg/preview" alt=""
                        class="bd-placeholder-img rounded-circle" width="140" height="140" role="img"
                        aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">

                    <h2 class="fw-normal">Margarita</h2>
                    <p>The margarita is a cocktail consisting of tequila, orange liqueur, and lime juice often served
                        with salt on the rim of the
                        glass. The drink is served shaken with ice, blended with ice, or without ice.</p>
                    <p><a class="btn btn-secondary" href="/drink?idDrink=11007">Find Out More &raquo;</a></p>
                </div>

                <div class="col-lg-4">
                    <img src="https://www.thecocktaildb.com/images/media/drink/2dwae41504885321.jpg/preview" alt=""
                        class="bd-placeholder-img rounded-circle" width="140" height="140" role="img"
                        aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">

                    <h2 class="fw-normal">Malibu Twister</h2>
                    <p>This cranberry juice-based solid cocktail is made with 2 other ingredients: malibu coconut rum,
                        tropicana orange juice.</p>
                    <p><a class="btn btn-secondary" href="/drink?idDrink=15224">Find Out More &raquo;</a></p>
                </div>
                <div class="col-lg-4">
                    <img src="https://www.thecocktaildb.com/images/media/drink/tpxurs1454513016.jpg/preview" alt=""
                        class="bd-placeholder-img rounded-circle" width="140" height="140" role="img"
                        aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">

                    <h2 class="fw-normal">Adam Bomb</h2>
                    <p>This is a fruit based mixture that has Rum, Vodka and Tequila.</p>
                    <p><a class="btn btn-secondary" href="/drink?idDrink=16333">Find Out More &raquo;</a></p>
                </div>
            </div>
        </div>
    </main>
</body>