<body>
    <!-- Header Section -->
    <section class="py-1 text-center container">
        <div class="row">
            <img src="../../../assets/menu-header-image.jpeg"
            alt="" class="bd-placeholder-img" width="100%" height="400" 
            preserveAspectRatio="xMidYMid slice" focusable="false" style="object-fit: cover;">
        </div>
    </section>

    <!-- Body -->
    <section class="py-1 container">
        <div>
            <div>
                <h1>{{queryIngredient | titlecase}}</h1>
            </div>

            <div class="wrapper center" *ngIf="!listOfDrinks.length">
                <mat-spinner></mat-spinner>
            </div>

            <mat-grid-list cols="4" rowHeight="400px">
                <mat-grid-tile *ngFor="let drink of listOfDrinks">
                    <mat-card style="height: fit-content; box-sizing: border-box;">
                        <mat-card-content>
                            <img mat-card-image [src]="drink.strDrinkThumb">
                            <p style="font-weight: bold;">
                                {{drink.strDrink}}
                            </p>
                            <mat-card-subtitle>{{drink.price | currency}}</mat-card-subtitle>
                        </mat-card-content>
                        <mat-card-actions align="end">
                            <button mat-flat-button color="primary" (click)="addToCart(drink)">Add to Cart</button>
                            <button mat-flat-button color="basic" (click)="learnMore(drink)">Learn More</button>
                        </mat-card-actions>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </section>
</body>