<body>
    <!-- Header Section -->
    <section class="py-1 text-center container">
        <div class="row">
            <img src="../../../assets/menu-header-image.jpeg"
            alt="" class="bd-placeholder-img" width="100%" height="200" 
            preserveAspectRatio="xMidYMid slice" focusable="false" style="object-fit: cover;">
        </div>
    </section>

    <!-- Body -->
    <section class="py-1 container">
        <app-search></app-search>
        <div>
            <div>
                <h1>{{queryIngredient | titlecase}}</h1>
            </div>

            <div class="wrapper center" *ngIf="!listOfDrinks.length">
                <mat-spinner></mat-spinner>
            </div>
            
            <mat-grid-list cols="5" rowHeight="400px">
                <mat-grid-tile *ngFor="let drink of listOfDrinks | paginate: {itemsPerPage: 10, currentPage: currentPage}">
                    <mat-card style="height: fit-content; box-sizing: border-box;">
                        <mat-card-content style="border-radius: inherit;">
                            <img mat-card-image [src]="drink.strDrinkThumb" style="height: 222.57px; cursor: pointer;" (click)="goToDrinkDetail(drink.idDrink)">
                            <p style="font-weight: bold;">
                                {{drink.strDrink}}
                            </p>
                            <mat-card-subtitle>{{drink.price | currency}}</mat-card-subtitle>
                        </mat-card-content>
                        <mat-card-actions align="end">
                            <button mat-flat-button color="primary" (click)="addToCart(drink)" style="width: 100%;">Add to Cart</button>
                        </mat-card-actions>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
            <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
        </div>
    </section>
</body>